
.promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  //padding-left: 5%;

  &-item{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 105px;
    &:first-child{
      padding-left: 5%;
    }
    &-info{
      width: 40%;
      &-title{
        font-style: normal;
        line-height: 120%;
        color: #111563;
        margin: 20px 0px;
      }
      &-text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #63718E;
      }
      &-btn{
        width: 35%;
      }
    }
    &-img{
      width: 40%;

      & img{
        box-sizing: border-box;
        width: 90%;
      }
    }
  }
}

@media all and (max-width: 990px) and (min-width: 780px){
  .promo{
    padding-right: 5%;
    padding-left: 5%;
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
      &:first-child{
        padding-left: 0%;
      }
      &:last-child{
        flex-direction: column-reverse;
      }
      &-img{
        width: 70%;
        &:first-child{
          display: flex;
          justify-content: flex-start;
          margin-left: -222px;
        }
      }
      &-info{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 779px) and (min-width: 480px){
  .promo{
    padding-right: 5%;
    padding-left: 5%;
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
      &:first-child{
        padding-left: 0%;
      }
      &:last-child{
        flex-direction: column-reverse;
      }
      &-img{
        width: 70%;
        &:first-child{
          display: flex;
          justify-content: flex-start;
          margin-left: -222px;
        }
      }
      &-info{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 479px) and (min-width: 300px){
  .promo{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 0px;
    &-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 30px;
      &:first-child{
        padding-left: 0%;
      }
      &:last-child {
        flex-direction: column-reverse;
        }
      &-img{
        width: 70%;
        &:first-child{
          display: flex;
          justify-content: flex-start;
          margin-left: -222px;
        }
      }
      &-info{
        width: 100%;
        &-title{
          font-size: 22px;
        }
        &-text{
          font-size: 18px;
        }
        &-btn{
          width: 85%;
          margin-bottom: 46px;
        }
      }
      &-img{
        width: 90%;
        &:first-child .watch{
          display: flex;
          justify-content: right;
          margin-left: 90px;
          margin-top: 20px;
          width: 400px;
        }
      }
    }
  }
}